<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            
            <div class="logo_name">
                A Class Coding
            </div>
            
        </div>
        <ul class="nav_list">
            <li>
                <a href="/">
                    <i class='bx bxs-school' ></i>
                    <span class="links_name">Home</span>
                </a>
                <!-- <span class="tooltip">Home</span>-->
            </li>
            <li>
                <a href="/teacher">
                    <i class='bx bxs-user-badge'></i>
                    <span class="links_name">Teacher</span>
                </a>
            </li>
             <li>
                <a href="/create_course">
                    <i class='bx bx-book' ></i>
                    <span class="links_name">Create Course</span>
                </a>
            </li>
            <li>
                <a href="/student">
                    <i class='bx bx-user-circle' ></i>
                    <span class="links_name">Student</span>
                </a>
            </li>
            <li>
                <a href="/studentSchedule">
                    <i class='bx bx-user-circle' ></i>
                    <span class="links_name">Student Schedule</span>
                </a>
            </li>
            <li>
                <a href="/signup">
                    <i class='bx bx-user-plus' ></i>
                    <span class="links_name">SignUp</span>
                </a>
            </li>
            <li>
                <a href="/login">
                    <i class='bx bx-log-in-circle' ></i>
                    <span class="links_name">Login</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class='bx bx-log-out-circle' ></i>
                    <span class="links_name">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>