<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/sidenav.ejs') %>
    <div class="page_content">
    <% if (course.length > 0){ %>
        <% course.forEach(course =>{  %>
        
            <h2 class="Course Id:"><%= course %></h2>
            </a>
        <% }) %>
    <% }else{ %>
        <p> No Courses</p>
    <% } %>
    </div></div>
</body>
<%- include('./partials/footer.ejs') %>
</html>